header {
    display: flex;
    justify-content: space-between;
    flex: 1;
    width: 100%;
    height: 150px;
    align-items: center;
    background: linear-gradient(lightgrey, white);

}

header h1 {
    font-family: 'Luckiest Guy', cursive;
    margin: 0px 0px 0px 60px;
}

header li {
    margin: 0px 60px 0px 0px;
    font-size: 1.25em;
    list-style: none;
}

