#prestartSection {
    color: black;
    height: 400px;
    width: 50%;
    margin: 50px auto;
    padding: 10px;
    justify-content: center;
    border: 1px solid black;
    background: white;
    opacity: .9;
}

#prestartSection-instruction {
    display: table;
    margin: 0 auto;
}

form {
    margin: 40px 0px 0px 0px;
}

fieldset input {
    width: 100%;
}

#prestartSection button {
    margin: 40px auto;
    height: 40px;
    display: block;
}