@import 'normalize.css';
@import 'header.css';
@import 'prestartSection.css';
@import 'surveySection.css';
@import 'resultsSection.css';

/* * {
    border: 1px solid gray;
} */

html {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    overflow: auto;
}

body {
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ul {
    text-decoration: underline;
}

ul li:hover {
    background: #1c1c1c;
    color: hotpink;
}

